
LOSTPROJECT/src/JsonFiles/Areas/VolcanoZone2/CharacterManagement.AggresiveCharacter.txt

LOSTPROJECT/src/JsonFiles/Areas/Swamp/ItemManagement.BoostingItem.txt

*.class

*.xml

*.xml

*.xml

*.xml

*.gen

*.zip

*.java

LOSTPROJECT/src/archive/ItemManagement/TextDriver.java

LOSTPROJECT/src/archive/GameObjects/Record.java

*.prefs

LOSTPROJECT/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

LOSTPROJECT/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

*.index

LOSTPROJECT/src/archive/ItemManagement/Tool.java

LOSTPROJECT/.metadata/version.ini

LOSTPROJECT/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

LOSTPROJECT/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

LOSTPROJECT/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.resources

LOSTPROJECT/.metadata/.mylyn/.taskListIndex/segments_1

LOSTPROJECT/.metadata/.log

*.xmi

LOSTPROJECT/src/test/TESTS_HERE.txt
